@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@font-face {
  font-family: 'NangyangSpecial';
  src: url('/fonts/NangyangSpecial.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.app-bg {
  background: url("../public/배경.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-bg img {
  max-width: clamp(200px, 25vw, 300px);
}

.nosifer,
.korean {
  font-family: "Nosifer", cursive;
  color: rgb(160, 3, 3);
  text-shadow: 1px 1px 3px rgb(92, 0, 0);
  margin: 0;
  padding: 0;
  font-size: clamp(1em, 2vw, 2em);
}

.start-btn,
.reset-btn,
.input-area {
  font-size: clamp(0.5em, 1vw, 0.8em);
  padding: 0.1vw;
  min-height: 20px;
  max-height: 100%;
}
.input-area::placeholder {
  color: #660000; /* 어두운 붉은색 */
  font-family: 'NangyangSpecial';
}

.level-btn-box button {
  font-size: clamp(0.5em, 1vw, 0.8em);
}

.gameOver-img {
  position: fixed;
  top: 0;
  left: 0;
  width: clamp(320px, 5vw, 100vw);
  height: clamp(260px, 5vw, 100vh);
}
